.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .container1{
    width: 250px;
    height: 150px;
    margin-top: 20px;
    background-color: rgb(81, 93, 104);
    margin-left: 100px;
    border: 1px solid wheat;
    border-radius: 10px;
  }
  form{
    padding: 15px;
    margin-top: 0px;

  
  }
  .tittle{
    text-align: center;
    height: 50px;
    background-color: rgb(60, 92, 89);
    align-items: center;
    justify-content: center;
    display: flex;
    border: 1px solid wheat;
    border-radius: 7px 7px 0px 0px;
    color: white;
  }

form {
    margin-top: 0px;
}

.main{

    display: flex;
    justify-content:space-around;
}