
<div class="main">
  <div class="title">
    <mat-label style="margin-top: 100px;" >BookBy</mat-label>
  </div>
  <table  mat-table [dataSource]="AlexSource" >  
    <ng-container matColumnDef="Id">
      <th class="head" mat-header-cell *matHeaderCellDef> Id </th>
      <td class="data" mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <ng-container matColumnDef="BookName">
      <th class="head"  mat-header-cell *matHeaderCellDef>BookName</th>
      <td class="data" mat-cell *matCellDef="let element"> {{element.bookName}} </td>
    </ng-container>
    <ng-container matColumnDef="AuthorName">
      <th  class="head" mat-header-cell *matHeaderCellDef>AuthorName</th>
      <td class="data" mat-cell *matCellDef="let element">{{element.authorName}}

        <!-- <a (click)=" DeleteStudent(element)" color="warn"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home">delete</mat-icon></a>
        <a routerLink="/Student/EditStudent/{{element.id}}" routerLinkActive="router-link-active" color="warn"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home">edit</mat-icon></a>
         -->
      </td>      
    </ng-container>
  
    <tr  mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> 

  <div class="title">
    <mat-label style="margin-top: 100px;" >BookBy_Anas</mat-label>
  </div>
  <table  mat-table [dataSource]="AnasSource" >  
    <ng-container matColumnDef="Id">
      <th class="head" mat-header-cell *matHeaderCellDef> Id </th>
      <td class="data" mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <ng-container matColumnDef="BookName">
      <th class="head"  mat-header-cell *matHeaderCellDef>BookName</th>
      <td class="data" mat-cell *matCellDef="let element"> {{element.bookName}} </td>
    </ng-container>
    <ng-container matColumnDef="AuthorName">
      <th  class="head" mat-header-cell *matHeaderCellDef>AuthorName</th>
      <td class="data" mat-cell *matCellDef="let element">{{element.authorName}}

        <!-- <a (click)=" DeleteStudent(element)" color="warn"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home">delete</mat-icon></a>
        <a routerLink="/Student/EditStudent/{{element.id}}" routerLinkActive="router-link-active" color="warn"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home">edit</mat-icon></a>
         -->
      </td>      
    </ng-container>
  
    <tr  mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> 
</div>
